html {
  background-color: black;
}

body {
  margin: 0;
  /*padding: 0 0 900px 0;*/
  overflow-x: hidden;
  font-family: "Caveat", cursive;
  font-size: 16pt;
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 0) 100vh,
    rgba(255, 255, 255, 0.5) 200vh,
    rgba(255, 255, 255, 0.5) 100%
  );
}

/* ----- HELPING CLASSES ----- */

.center {
  /* Positions box in the middle of the page*/
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

.paper {
  background-color: palegoldenrod;
  padding: 50px;
  border-radius: 3px;
}

/* ----- SPLASH VIDEO ----- */

.background_video {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: -1;
  object-fit: cover;
  opacity: 0.5;
}

.headline {
  /*background-color: rgba(0, 0, 0, 0.5);*/
  padding: 50px;
  color: white;
  font-size: 4rem;
  width: fit-content;
  border-radius: 3px;
  text-align: center;
  font-family: sans-serif;
}

.section_container {
  position: relative;
  height: 100vh;
  width: 100vw;
}

.book {
  max-width: 1000px;
  margin: 0 auto;
  padding-bottom: 400px;
}

.timeline_item {
  display: flex;
  margin: 10px 0;
}
.fatality_item {
  display: flex;
  margin: 10px 0;
  justify-content: space-between;
}

.timeline_name {
  height: 50px;
}

.timeline_name svg {
  height: 100%;
  width: auto;
}

.timeline_icon {
  margin-right: 10px;
}

/* ----- INFOBOX ----- */

.infobox {
  width: 400px;
  height: 0;
  display: none;
}

.infobox_image_container {
  overflow: hidden;
  animation-name: slide_in_kf;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

.infobox_name {
  height: 100px;
  text-align: center;
}

.infobox_name svg {
  height: 100%;
  width: auto;
}

.infobox_details {
  opacity: 0;
  margin: 10px 0;
  animation-name: fade_in_kf;
  animation-delay: 3s;
  animation-duration: 2s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
}

@keyframes slide_in_kf {
  0% {
    width: 0;
  }

  100% {
    width: 100%;
  }
}

@keyframes fade_in_kf {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}


/******** Handwriting Animation **********/

@keyframes write {
  100% {
    stroke-dashoffset: 0;
  }
}

/*************** Light Yagami **************/

#L1 {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: write 0.2s linear forwards;
}
#I_1 {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: write 0.2s linear forwards;
  animation-delay: 0.5s;
}
#I_2 {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: write 0.2s linear forwards 1s;
}

#G_1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 1.5s;
}

#G_2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 1.5s;
}
#H_1 {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: write 0.2s linear forwards 2s;
}
#T_1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2.5s;
}
#T_2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2.5s;
}
#y2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 3s;
}
#y1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 3.2s;
}

#a1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 3.5s;
}
#a2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 3.7s;
}
#g1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 4s;
}
#g2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 4.2s;
}
#a21 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 4.5s;
}
#a22 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 4.7s;
}
#m {
  stroke-dasharray: 580;
  stroke-dashoffset: 580;
  animation: write 0.2s linear forwards 5s;
}
#i-2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 5.5s;
}
#i_dot {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 5.7s;
}

/************** Misa Amane ****************/

#Misa_M-2 {
  stroke-dasharray: 920;
  stroke-dashoffset: 920;
  animation: write 0.2s linear forwards;
}
#Misa_i_2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.2;
}
#Misa_i_1 {
  stroke-dasharray: 350;
  stroke-dashoffset: 350;
  animation: write 0.2s linear forwards 0.4s;
}

#Misa_s {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 0.6s;
}

#Misa_a_1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 0.8s;
}
#Misa_a_2 {
  stroke-dasharray: 450;
  stroke-dashoffset: 450;
  animation: write 0.2s linear forwards 1s;
}
#Misa_a_3 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 1.2s;
}
#Misa_a_4-2 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 1.4s;
}
#Misa_m {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.6s;
}
#Misa_a_5 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 1.8s;
}

#Misa_a_4 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2s;
}
#Misa_n {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2.2s;
}
#Misa_e1 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2.4s;
}
#Misa_e2 {
  stroke-dasharray: 400;
  stroke-dashoffset: 400;
  animation: write 0.2s linear forwards 2.4s;
}

/************** L ***********/

#L {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards;
}

#Raye_r {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards;
}

#Raye_a {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 0.2s;
}
#Raye_y {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 0.4s;
}
#Raye_e1 {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 0.6s;
}

#Raye_p {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 0.8s;
}
#Raye_e2 {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 1s;
}
#Raye_n {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 1.2s;
}
#Raye_b {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 1.4s;
}
#Raye_e3 {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 1.6s;
}
#Raye_r-2 {
  stroke-dasharray: 650;
  stroke-dashoffset: 650;
  animation: write 0.2s linear forwards 1.8s;
}

/********* Naomi **********/

#Naomi_n {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards;
}
#Naomi_a1 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.2s;
}
#Naomi_o {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.4s;
}
#Naomi_m1 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.6s;
}
#Naomi_i1 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.8s;
}
#Naomi_i2 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.8s;
}
#Naomi_m2 {
  stroke-dasharray: 800;
  stroke-dashoffset: 800;
  animation: write 0.2s linear forwards 1s;
}
#Naomi_i4 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.2s;
}
#Naomi_i5 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.2s;
}
#Naomi_s {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.4s;
}
#Naomi_o2 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.6s;
}
#Naomi_r {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 1.8s;
}
#Naomi_a2 {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 2s;
}

/************* Rem ************/

#Rem_r {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards;
}
#Rem_e {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.2s;
}
#Rem_m {
  stroke-dasharray: 600;
  stroke-dashoffset: 600;
  animation: write 0.2s linear forwards 0.4s;
}

/************ Watari *************/

#Watari_w {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: write 0.2s linear forwards;
}
#Watari_a1 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.2s;
}
#Watari_t1 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.4s;
}
#Watari_t2 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.4s;
}
#Watari_a2 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.6s;
}
#Watari_r {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.8s;
}
#Watari_i1 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 1s;
}
#Watari_i2 {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 1s;
}

/*********** Lind ***********/

#Lind_l {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards;
}
#Lind_i1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.2s;
}
#Lind_i2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.2s;
}
#Lind_n {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards 0.4s;
}
#Lind_d {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.6s;
}
#Lind_l2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.8s;
}
#Lind_t1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1s;
}
#Lind_t2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1s;
}
#Lind_a {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.2s;
}
#Lind_i3 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.4s;
}
#Lind_i4 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.4s;
}
#Lind_l3 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.6s;
}
#Lind_o {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.8s;
}
#Lind_r {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 2s;
}

/*********************** Kurou ***************/

#Kurou_k {
  stroke-dasharray: 700;
  stroke-dashoffset: 700;
  animation: write 0.2s linear forwards;
}
#Kurou_o {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.2s;
}
#Kurou_r {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.4s;
}
#Kurou_o1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.6s;
}
#Kurou_u {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 0.8s;
}

#Kurou_o2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1s;
}
#Kurou_t1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.2s;
}
#Kurou_t2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.2s;
}
#Kurou_o3 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.4s;
}
#Kurou_h {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.6s;
}
#Kurou_a1 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 1.8s;
}

#Kurou_r2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 2s;
}
#Kurou_a2 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 2.2s;
}

#Kurou_d {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 2.4s;
}
#Kurou_a3 {
  stroke-dasharray: 500;
  stroke-dashoffset: 500;
  animation: write 0.2s linear forwards 2.6s;
}
