html {
    background-color: black;
}

body {
    margin: 0;
    padding: 0 0 200px 0;
    overflow-x: hidden;
    font-family: 'Caveat', cursive;
    font-size: 20pt;
    background: linear-gradient(180deg, rgba(2,0,36,0) 100vh, rgba(255,255,255,.5) 200vh, rgba(255,255,255,.5) 100%);
}

/* ----- HELPING CLASSES ----- */

.center {
    /* Positions box in the middle of the page*/
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
}

.paper {
    background-color: palegoldenrod;
    padding: 50px;
    border-radius: 3px;
}


/* ----- SPLASH VIDEO ----- */

.background_video {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: -1;
    object-fit: cover;
    opacity: .5;
}

.headline {
    /*background-color: rgba(0, 0, 0, 0.5);*/
    padding: 50px;
    color: white;
    font-size: 4rem;
    width: fit-content;
    border-radius: 3px;
    text-align: center;
    font-family: sans-serif;

}

.section_container {
    position: relative;
    height: 100vh;
    width: 100vw;
}
.book {
    max-width: 1000px;
    margin: 0 auto;
}

.timeline_item {
    display: flex;
    margin: 10px 0;
}
.fatality_item {
    display: flex;
    margin: 10px 0;
    justify-content: space-between;
}

.timeline_icon {
    margin-right: 10px;
}

.infobox {
    width: 500px;
    height: 0;
    display: none;
}